.card-container {
  perspective: 500px;
}

.card {
  height: 500px;
  width: 800px;
  box-shadow: var(--box-shadow);
  color: #fff;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  align-content: center;
  position: relative;
align-items: center;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  cursor: pointer;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  transition: transform 0.3s ease-in-out;
}

.card.visibility .back {
  transform: rotateY(0);
}

.card.visibility .front {
  transform: rotateY(-180deg) scaleX(-1);
  backface-visibility: visible;
}
.word_translation{
  font-size: 40px;
}
.word{
  font-size: 40px;
}
.card .back {
  background-color: #5c5c5c;
}

.front {
  background-color: #fff;
  color:#340df3;
}
