.w3-container {
    background-color: rgb(159, 229, 241);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    margin: 4%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    align-content: center;
    padding: 40px;
    border-radius: 30px;
  }